.header-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}
